In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('Cutlets.csv')

In [3]:
# Read dataset
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875
35     NaN     NaN
36     NaN     NaN
37     NaN     NaN
38     NaN     NaN
39     NaN     NaN
40     NaN     NaN
41     NaN     NaN
42     NaN     NaN
43     NaN     NaN
44     NaN     NaN
45     NaN     NaN
46     NaN     NaN
47     NaN     NaN
48     NaN     NaN
49     NaN     NaN
50     NaN     NaN

In [5]:
# missing value treatment in df=pd.read_csv('Cutlets.csv')
df.isnull().sum()
df=df.dropna()
df.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

In [6]:
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

# H0: There is no significant difference in the diameter of the cutlet between two units
# H1: There is significant difference in the diameter of the cutlet between two units

In [7]:
# Assumptions:
# 1. The data is normally distributed
# 2. The data is independent 
# 3. The data is homoscedastic (having equal variance)

In [12]:
# Test:
# 1. Shapiro-Wilk Test
# 2. Bartlett's Test

In [9]:
# Shapiro-Wilk Test
from scipy.stats import shapiro

In [10]:
# for Unit A we check
stat, p = shapiro(df['Unit A'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Sample looks Gaussian (fail to reject H0)')
else:
    print('Sample does not look Gaussian (reject H0)')

Statistics=0.965, p=0.320
Sample looks Gaussian (fail to reject H0)

In [11]:
# for unit B we check
stat, p = shapiro(df['Unit B'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Sample looks Gaussian (fail to reject H0)')
else:
    print('Sample does not look Gaussian (reject H0)')

Statistics=0.973, p=0.522
Sample looks Gaussian (fail to reject H0)

In [13]:
# Bartlett's Test
from scipy.stats import bartlett
stat, p = bartlett(df['Unit A'], df['Unit B'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Sample looks homoscedastic (fail to reject H0)')
else:
    print('Sample does not look homoscedastic (reject H0)')

Statistics=1.015, p=0.314
Sample looks homoscedastic (fail to reject H0)

In [14]:
# Since the data is normally distributed and homoscedastic.
#  we can use two sample t-test to check the significance of the difference in the diameter of the cutlet between two units.

In [16]:
# Two Sample T-Test
from scipy.stats import ttest_ind
stat, p = ttest_ind(df['Unit A'], df['Unit B'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Same distributions (fail to reject H0)')
else:
    print('Different distributions (reject H0)')

Statistics=0.723, p=0.472
Same distributions (fail to reject H0)

In [ ]:
#  since p value is greater than 0.05, we fail to reject the null hypothesis.
#  there is no significant difference in the diameter of the cutlet between two units.